.day{
    fill: #ffc107;
}
.night{
    fill: #20c997;
}
.red, .blue, .green{
    box-sizing: border-box;
    height: 1.5rem;
    width: 1.5rem;
}

.alert{
    $zindex-sticky: 1020; 
}

.theme{
    width: 1rem;
    height: 1rem;
}


@import '/node_modules/bootstrap/scss/bootstrap.scss';